body {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  background-color: #fff;
}

.section {
  padding-left: 24px;
  padding-right: 24px;
}

.section_narrow {
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 92px;
  padding-bottom: 96px;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__menu-list {
  display: flex;
  column-gap: 32px;
  font-size: 18px;
  line-height: 21px;
  list-style: circle;
}

.header__menu-list-item:first-child {
  list-style: none;
}

.header__menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__menu-link_active {
  border-bottom: none;
}

.address {
  font-size: 18px;
  line-height: 1.35;
  font-style: normal;
  color: #000000;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.phone {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.email {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.cover {
  position: relative;
  z-index: -2;
  padding-top: 165px;
  padding-bottom: 50px;
  margin-bottom: 180px;
  background-color: #000;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -139px;
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0 0 0 / 0.6);
}

.cover__title {
  margin-bottom: 106px;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.cover__description-text {
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  padding: 11px 31px;
  text-align: center;
  font-weight: 500;
  line-height: 1.18;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.lots {
  margin-bottom: 120px;
}

.lots__title {
  margin-left: 40px;
  margin-bottom: 27px;
  font-size: 40px;
  line-height: 1.175;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
  color: #fff;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  line-height: 1.15;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  margin-bottom: 180px;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  margin-top: 35px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 141px;
}

.about__title {
  margin-top: 136px;
  margin-bottom: 100px;
  font-size: 40px;
  line-height: 1.175;
  text-transform: uppercase;
}

.about__text {
  margin-bottom: 24px;
}

.about__text:last-child {
  margin-bottom: 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 50px;
  padding-bottom: 82px;
}

.footer__menu-list {
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  flex-wrap: wrap;
  column-gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
